services:
  db:
    image: postgres:latest
    container_name: postgresseur
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Sa77aLa3rithi
      POSTGRES_DB: ApplicationDB
    ports:
      # Haouas bjah eli 5al9ek ma3adech tbadel port l pg
      - '5432:5432'
    volumes:
      - insat_social_club_data:/var/lib/postgresql/data
    networks:
      - insat-network

  backend:
    build:
      context: ./backend
    container_name: backend
    depends_on:
      - db
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgres://postgres:Sa77aLa3rithi@db:5432/ApplicationDB
    networks:
      - insat-network
    volumes:
      - ./backend:/app
    command: npm run start:dev

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - '3001:80'
    depends_on:
      - backend
    networks:
      - insat-network

volumes:
  insat_social_club_data:

networks:
  insat-network:
